<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.gy.personalmanagersystem.dao.PeopleMapper" >
  <resultMap id="BaseResultMap" type="edu.gy.personalmanagersystem.pojo.People" >
    <id column="number" property="number" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="birthplace" property="birthplace" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="identityNo" property="identityno" jdbcType="VARCHAR" />
    <result column="politicalstatus" property="politicalstatus" jdbcType="VARCHAR" />
    <result column="photoNumber" property="photonumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    number, name, sex, age, department, position, birthplace, nation, identityNo, politicalstatus, 
    photoNumber
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_people
    where number = #{number,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_people
    where number = #{number,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.gy.personalmanagersystem.pojo.People" >
    insert into t_people (number, name, sex, 
      age, department, position, 
      birthplace, nation, identityNo, 
      politicalstatus, photoNumber)
    values (#{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{age,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{birthplace,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{identityno,jdbcType=VARCHAR}, 
      #{politicalstatus,jdbcType=VARCHAR}, #{photonumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.gy.personalmanagersystem.pojo.People" >
    insert into t_people
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        number,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="birthplace != null" >
        birthplace,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="identityno != null" >
        identityNo,
      </if>
      <if test="politicalstatus != null" >
        politicalstatus,
      </if>
      <if test="photonumber != null" >
        photoNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null" >
        #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="identityno != null" >
        #{identityno,jdbcType=VARCHAR},
      </if>
      <if test="politicalstatus != null" >
        #{politicalstatus,jdbcType=VARCHAR},
      </if>
      <if test="photonumber != null" >
        #{photonumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.gy.personalmanagersystem.pojo.People" >
    update t_people
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null" >
        birthplace = #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="identityno != null" >
        identityNo = #{identityno,jdbcType=VARCHAR},
      </if>
      <if test="politicalstatus != null" >
        politicalstatus = #{politicalstatus,jdbcType=VARCHAR},
      </if>
      <if test="photonumber != null" >
        photoNumber = #{photonumber,jdbcType=VARCHAR},
      </if>
    </set>
    where number = #{number,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.gy.personalmanagersystem.pojo.People" >
    update t_people
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      birthplace = #{birthplace,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      identityNo = #{identityno,jdbcType=VARCHAR},
      politicalstatus = #{politicalstatus,jdbcType=VARCHAR},
      photoNumber = #{photonumber,jdbcType=VARCHAR}
    where number = #{number,jdbcType=VARCHAR}
  </update>
</mapper>