<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gy.personalmanagersystem.dao.ThesisMapper">
  <resultMap id="BaseResultMap" type="edu.gy.personalmanagersystem.pojo.Thesis">
    <id column="thesisid" jdbcType="INTEGER" property="thesisid" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="classify" jdbcType="VARCHAR" property="classify" />
    <result column="magazine" jdbcType="VARCHAR" property="magazine" />
    <result column="checked" property="checked" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List">
    thesisid, number, name, company, title, classify, magazine,checked
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_thesis
    where thesisid = #{thesisid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_thesis
    where thesisid = #{thesisid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.gy.personalmanagersystem.pojo.Thesis">
    insert into t_thesis (thesisid, number, name,
      company, title, classify,
      magazine,checked)
    values (#{thesisid,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{company,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{classify,jdbcType=VARCHAR},
      #{magazine,jdbcType=VARCHAR},#{checked,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.gy.personalmanagersystem.pojo.Thesis">
    insert into t_thesis
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thesisid != null">
        thesisid,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="classify != null">
        classify,
      </if>
      <if test="magazine != null">
        magazine,
      </if>
      <if test="checked != null">
        checked,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thesisid != null">
        #{thesisid,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="classify != null">
        #{classify,jdbcType=VARCHAR},
      </if>
      <if test="magazine != null">
        #{magazine,jdbcType=VARCHAR},
      </if>
      <if test="checked != null">
        #{checked,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.gy.personalmanagersystem.pojo.Thesis">
    update t_thesis
    <set>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="classify != null">
        classify = #{classify,jdbcType=VARCHAR},
      </if>
      <if test="magazine != null">
        magazine = #{magazine,jdbcType=VARCHAR},
      </if>
      <if test="checked != null">
        checked = #{checked,jdbcType=INTEGER},
      </if>
    </set>
    where thesisid = #{thesisid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.gy.personalmanagersystem.pojo.Thesis">
    update t_thesis
    set number = #{number,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      classify = #{classify,jdbcType=VARCHAR},
      magazine = #{magazine,jdbcType=VARCHAR},
      checked = #{checked,jdbcType=INTEGER}
    where thesisid = #{thesisid,jdbcType=INTEGER}
  </update>

  <insert id="addEntitys" parameterType="java.util.List">
    insert into t_thesis (number, name, company, title, classify,magazine,checked)
      values
      <foreach collection="entitys" item="entity" separator=",">
        (#{entity.number},#{entity.name},#{entity.company},#{entity.title},
        #{entity.classify},#{entity.magazine},#{entity.checked})
      </foreach>
  </insert>

  <select id="getByItem" resultType="edu.gy.personalmanagersystem.pojo.Thesis" >
    select
    <include refid="Base_Column_List"/>
    from t_thesis
    <where>
      <if test="1==1">
        1=1
      </if>
      <if test="entity!=null and entity.thesisid!=null">
        and thesisid=#{entity.thesisid}
      </if>
      <if test="entity!=null and entity.number!=null">
        and number=#{entity.number}
      </if>
      <if test="entity!=null and entity.name!=null">
        and name=#{entity.name}
      </if>
      <if test="entity!=null and entity.company!=null">
        and company=#{entity.company}
      </if>
      <if test="entity!=null and entity.title!=null">
        and title=#{entity.title}
      </if>
      <if test="entity!=null and entity.classify!=null">
        and classify=#{entity.classify}
      </if>
      <if test="entity!=null and entity.magazine!=null">
        and magazine=#{entity.magazine}
      </if>
      <if test="entity!=null and entity.checked!=null">
        and checked=#{entity.checked}
      </if>
    </where>
    <if test="rule!=null">
      order by ${rule}
    </if>
  </select>

  <select id="getThesisInfoByLikes" resultType="edu.gy.personalmanagersystem.pojo.Thesis">
    <bind name="name_pattern" value="'%'+entity.name+'%'"/>
    <if test="entity.company!=null">
      <bind name="company_pattern" value="'%'+entity.company+'%'"/>
    </if>
    <if test="entity.title!=null">
      <bind name="title_pattern" value="'%'+entity.title+'%'"></bind>
    </if>
    <if test="entity.classify!=null">
      <bind name="classify_pattern" value="'%'+entity.classify+'%'"></bind>
    </if>

    <if test="entity.magazine!=null">
      <bind name="magazine_pattern" value="'%'+entity.magazine+'%'"></bind>
    </if>
    select
    <include refid="Base_Column_List"/>
    from t_thesis
    where
    name LIKE #{name_pattern}
    <if test="entity.company!=null">
      AND company LIKE #{company_pattern}
    </if>
    <if test="entity.title!=null">
      AND title LIKE #{title_pattern}
    </if>
    <if test="entity.classify!=null">
      AND classify LIKE #{classify_pattern}
    </if>
    <if test="entity.magazine!=null">
      AND magazine LIKE #{magazine_pattern}
    </if>
  </select>

</mapper>